<html>
    <body>
    <form action="/albums" method="POST">
        <label for="names">Choose a name:</label>
        <select name="names" id="names">
            <option value=<%=users[0] %>><%=users[0]%></option>
            <option value=<%=users[1] %>><%=users[1]%></option>
            <option value=<%=users[2] %>><%=users[2]%></option>
            <option value=<%=users[3] %>><%=users[3]%></option>
            <option value=<%=users[4] %>><%=users[4]%></option>
            <option value=<%=users[5] %>><%=users[5]%></option>
            <option value=<%=users[6] %>><%=users[6]%></option>
            <option value=<%=users[7] %>><%=users[7]%></option>
            <option value=<%=users[8] %>><%=users[8]%></option>
            <option value=<%=users[9] %>><%=users[9]%></option>
        </select>
        <br><br>
        <input type="submit" name="button" value="Submit">
      </form>
    </body>
</html>

