<h1>Hi <%=name%></h1>
<br>
<form action="/votes" method="POST">
    <input type="hidden" name="course" value="story">
    <button type="submit" name = "button" value= <%=id %>> story</button>
</form>
<br>
<form action="/votes" method="POST">
    <input type="hidden" name="course" value="mathematica">
    <button type="submit" name = "button" value= <%=id %>> mathematica</button>
</form>
<br>
<form action="/votes" method="POST">
    <input type="hidden" name="course" value="science">
    <button type="submit" name = "button" value= <%=id %>> science</button>
</form>
<br>
<form action="/votes" method="POST">
    <input type="hidden" name="course" value="english">
    <button type="submit" name = "button" value= <%=id %>> english</button>
</form>
<br>
<form action="/votes" method="POST">
    <input type="hidden" name="course" value="low">
    <button type="submit" name = "button" value= <%=id %>> low</button>
</form>
<br>
<form action="/votes" method="POST">
    <input type="hidden" name="course" value="computer science">
    <button type="submit" name = "button" value= <%=id %>> computer science</button>
</form>
<br>
<form action="/votes" method="POST">
    <input type="hidden" name="course" value="physics">
    <button type="submit" name = "button" value= <%=id %>> physics</button>
</form>
